[INFO] Scanning for projects...
[INFO] 
[INFO] -------------------------< com.ey:rectangles >--------------------------
[INFO] Building rectangles 1.0.0-SNAPSHOT
[INFO]   from pom.xml
[INFO] --------------------------------[ jar ]---------------------------------
[INFO] 
[INFO] --- resources:3.4.0:resources (default-resources) @ rectangles ---
[INFO] skip non existing resourceDirectory /Users/jehanzeb/_development/ey_rectangles/src/main/resources
[INFO] 
[INFO] --- compiler:3.15.0:compile (default-compile) @ rectangles ---
[INFO] Nothing to compile - all classes are up to date.
[INFO] 
[INFO] --- resources:3.4.0:testResources (default-testResources) @ rectangles ---
[INFO] skip non existing resourceDirectory /Users/jehanzeb/_development/ey_rectangles/src/test/resources
[INFO] 
[INFO] --- compiler:3.15.0:testCompile (default-testCompile) @ rectangles ---
[INFO] Nothing to compile - all classes are up to date.
[INFO] 
[INFO] --- surefire:3.5.3:test (default-test) @ rectangles ---
[INFO] Using auto detected provider org.apache.maven.surefire.junitplatform.JUnitPlatformProvider
[INFO] 
[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running com.ey.rectangles.AppTest
[INFO] Tests run: 4, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.042 s -- in com.ey.rectangles.AppTest
[INFO] Running com.ey.rectangles.RectangleAnalyzerTest
[INFO] Tests run: 14, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.012 s -- in com.ey.rectangles.RectangleAnalyzerTest
[INFO] Running com.ey.rectangles.RectangleTest
[INFO] Tests run: 3, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.003 s -- in com.ey.rectangles.RectangleTest
[INFO] 
[INFO] Results:
[INFO] 
[INFO] Tests run: 21, Failures: 0, Errors: 0, Skipped: 0
[INFO] 
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  0.699 s
[INFO] Finished at: 2026-03-16T18:10:15-07:00
[INFO] ------------------------------------------------------------------------
